name: API Test

on:
  pull_request:
    branches: [main]
    paths:
      - "api/**"
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv sync
        working-directory: ./api

      - name: Format check
        run: |
          uv run ruff check .
        working-directory: ./api